<div class="card-container">
    <div class="card">
        <h2>Engenharia Integrada</h2>
    </div>
    <div class="card">
        <h2>Projetos para PCH's e CGH's</h2>
    </div>
    <div class="card">
        <h2>Automação de Processos</h2>
    </div>
</div>

<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 17%;
        background: var(--Back_Dark, #ececf1);
        border-radius: 15px;
        margin: 0.1% 0.1% 0.1% 0.1%;
        z-index: 100;
    }
    .card {
        top: 2;
        width: 33%;
        height: 100%;
        left: 0;
        padding: 2rem 9%;
        margin: 10px;
        background: var(--Back_Dark, #5d5454);
        border-radius: 12px;
    }
</style>