{% load static %}
<header class="flex-container">
    <div class="flex-container">
        <img class='logo' src="{% static 'images/logo.png' %}" alt="Flex Logo">
        <div>
            <h1 class="title">EngeSEP</h1>
            <p class="subtitle">Engenharia Integrada</p>
        </div>
    </div>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#sobre">Sobre</a>
            </li>
            <li class="nav-item">
                <a href="#servicos">Serviços</a>
            </li>
            <li class="nav-item">
                <a href="#contato">Contato</a>
            </li>
        </ul>
    </nav>
    <a href="#cliente" ><button class="btn">Login</button></a>
</header>
<!-- Criar menu responsivo -->
<!--<div>-->
<!--    <img class='logo' src="{% static 'images/logo.png' %}" alt="Flex Logo">-->
<!--    <nav class="navbar">-->
<!--        <ul class="nav-list">-->
<!--            <li>-->
<!--                <a href="#home">Home</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#sobre">Sobre</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#servicos">Serviços</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#contato">Contato</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <a href="#cliente" class="cta"><button>Cliente</button></a>-->
<!--    </nav>-->
<!--</div>-->



<!--<div class="menu-container">-->
<!--    <div class="menu-header">-->
<!--        <div class="logo-container">-->
<!--            <div class="logo-text">-->
<!--                <div class="logo-image"><img src="{% static 'images/logo.png' %}" alt="Logo"></div>-->
<!--                EngeSEP-->
<!--            </div>-->
<!--            <div class="logo-subtitle">Engenharia Integrada</div>-->
<!--        </div>-->
<!--    <div class="menu-items">-->
<!--        <div class="menu-item" href="">Inicio</div>-->
<!--        <div class="menu-item">Contatos</div>-->
<!--        <div class="menu-item">Serviços</div>-->
<!--        <div class="menu-item">Sobre</div>-->
<!--        <div class="menu-item">Login</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

