{% load static %}
<html lang="pt-br">
<head>
    <title>Engesep Site</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'menu.html' %}
    <main>
        <h1>Engesep Site</h1>
        <p>Principal</p>
    </main>
</body>
</html>
<!--<head>-->
<!--    <meta name="example:title" content="Navbar">-->
<!--    <meta name="example:description" content="Navigation component for displaying links to your site sections.">-->
<!--    <meta name="example:type" content="sections">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap">-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="/siimple.css">&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple/siimple.css" />-->
<!--    <link rel="stylesheet" href="/siimple-icons.css">-->
<!--    <title>Navbar Example</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="container has-pt-16 has-pb-24">-->

<!--        &lt;!&ndash; Dark navbar with action button on right &ndash;&gt;-->
<!--        <div class="">-->
<!--            <div class="container has-pt-4 has-pb-4 has-pl-6 has-pr-6 is-flex has-items-center has-flex-wrap-mobile has-bg-dark has-text-white is-rounded">-->
<!--                &lt;!&ndash; Navbar brand: always visible &ndash;&gt;-->
<!--                <a class="is-flex has-items-center has-mr-6-tablet has-mr-auto-mobile has-size-2 has-text-current">-->
<!--                    <i class="si-mug has-size-4 has-mr-2"></i>-->
<!--                    <strong>EngeSEP</strong>-->
<!--                </a>-->
<!--                &lt;!&ndash; Toggler button: only visible in mobile screens &ndash;&gt;-->
<!--                <div id="navbar-toggler" class="menu has-bg-dark is-hidden-tablet"></div>-->
<!--                &lt;!&ndash; Navigation menu: by default hidden on mobile screens &ndash;&gt;-->
<!--                <div id="navbar-menu" class="is-flex-tablet has-justify-between has-w-full has-mt-4-mobile">-->
<!--                    &lt;!&ndash; Left side links &ndash;&gt;-->
<!--                    <div class="is-flex-tablet">-->
<!--                        <a class="navlink has-mb-2-mobile has-mr-2-tablet has-bg-dark">Home</a>-->
<!--                        <a class="navlink has-mb-2-mobile has-bg-dark-hover">Sobre</a>-->
<!--                        <a class="navlink has-mb-2-mobile has-bg-dark-hover">Serviços</a>-->
<!--                        <a class="navlink has-mb-2-mobile has-bg-dark-hover">Cases</a>-->
<!--                        <a class="navlink has-mb-2-mobile has-bg-dark-hover">Contato</a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Right side conttent &ndash;&gt;-->
<!--                    <div class="has-ml-auto-tablet has-mt-4-mobile">-->
<!--                        <a class="button is-full">Cliente</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</body>-->

